@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Oswald:wght@300&display=swap");
body {
  background-color: #333;
}
.title {
  font-family: Fira code;
  /* font-size: xx-large; */
  text-align: center;
  color: cadetblue;
}
/* .container {
  margin-top: 15%;
} */
button {
  font-family: Fira code;
  background-color: cadetblue;
  color: black;
  font-size: 100%;
  width: 100px;
  height: 35px;
  border-radius: 100px;
}
button:hover {
  background-color: cyan;
  cursor: pointer;
}
button:focus {
  outline: none;
}
#del:hover {
  background-color: red;
}
.inp {
  width: 800px;
  border: 5px solid cadetblue;
  border-radius: 50px;
  height: 30px;
}
.inp:focus {
  border-color: cyan;
  outline: none;
}
.frm {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 50px;
  padding-right: 100px;
}
input {
  font-family: Fira code;
  font-size: large;
}

#done {
  text-decoration: line-through;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
.card > button ~ button {
  margin-left: 50px;
}
